{% extends "base.html" %}

    {% block title %}
    <title>{{ category.name }} | {{ blog.name }}</title>
    {% endblock %}
    {% block meta %}
    <meta name="description" content="{{ category.description }}">
    <meta name="keywords" content="{{ category.keywords|join:", " }}, {{ blog.keywords|join:", " }}">
    {% endblock %}
    {% block OGP %}
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:site_name" content="{{ blog.name }}">
    <meta property="og:description" content="{{ category.description }}">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ category.permalink }}">
    {% endblock OGP %}

          {% block main-contents %}
          <header>
            <h1>{{ category.name }}</h1>
          </header>
          <section>
            {% for entry in entries %}
            <article>
              <header>
                <h2><a href="{{ BLOG_PATH }}/{{ entry.path }}">{{ entry.title }}</a></h2>
              </header>
              <p>{{ entry.description|striptags }}（<a href="{{ BLOG_PATH }}/{{ entry.path }}">続きを読む</a>）</p>
              <footer class="well well-small">
                <span>{{ entry.published_at|jst|date:"Y年m月d日 H:i" }}</span>
                &nbsp;&nbsp;
                <span><a href="{{ BLOG_PATH }}/{{ entry.category.path }}">{{ entry.category.name }}</a></span>
              </footer>
            </article>
            {% endfor %}
          </section>
          {% endblock main-contents %}